
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">OpenLibra</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a [routerLink]="['/']">Inicio</a></li>
        <li><a [routerLink]="['/cursos']">Cursos</a></li>
        <li><a [routerLink]="['/contactenos']">Contactenos</a></li>
        <li><a [routerLink]="['/administrador']">Administrador</a></li>
        <li><a [routerLink]="['/auth/login']">Enlace al inicio de sesión</a></li>
      </ul>
    </div>
   </nav>